<script>
    function openNav() {
        const containerLeft = document.querySelector('.in-container__left')
        containerLeft.classList.toggle('active')
    }

    function notif(status, title, message) {
        switch (status) {
            case 'error':
                iziToast.error({
                    title: title ?? 'Error', 
                    message: message ?? 'Illegal operation', 
                    position: 'topRight'
                });
                break;

            case 'success':
                iziToast.success({
                    title: title ?? 'Error', 
                    message: message ?? 'Illegal operation', 
                    position: 'topRight'
                });
                break;
                
            case 'info':
                iziToast.info({
                    title: title ?? 'Error', 
                    message: message ?? 'Illegal operation', 
                    position: 'topRight'
                });
                break;
        
            default:
                break;
        }
    }

    const buttonRipple = document.querySelectorAll('.btn-ripple')
    buttonRipple.forEach(btn => {
        btn.addEventListener('click', function(e) {
            let x = e.clientX - e.target.offsetLeft
            let y = e.clientY - e.target.offsetTop

            let ripple = document.createElement('span')
            ripple.style.left = x + 'px'
            ripple.style.top = y + 'px'

            this.appendChild(ripple)

            setTimeout(()=> {
                ripple.remove()
            }, 1000)
        })
    })
</script>

</body>
</html>