<script>
    function openNav() {
        const containerLeft = document.querySelector('.in-container__left')
        containerLeft.classList.toggle('active')
    }

    const buttonRipple = document.querySelectorAll('.btn-ripple')
    buttonRipple.forEach(btn => {
        btn.addEventListener('click', function(e) {
            let x = e.clientX - e.target.offsetLeft
            let y = e.clientY - e.target.offsetTop

            let ripple = document.createElement('span')
            ripple.style.left = x + 'px'
            ripple.style.top = y + 'px'

            this.appendChild(ripple)

            setTimeout(()=> {
                ripple.remove()
            }, 1000)
        })
    })
</script>

</body>
</html>