<div class="heading-container d-flex-responsif">
    <form action="/movies/search" class="search-input" method="GET">
        <i class="fas fa-search"></i>
        <input type="search" name="searchInput" placeholder="Type to search">
    </form>
    <div class="account-detail d-flex align-center">
        {{#if isLogin}}
        <i class="fas fa-bell"></i>
        <i class="fas fa-message"></i>
        <div class="account d-flex align-center">
            <img class="profile_account" src="static/img/profile1.jpg" alt="profile account">
            <div class="about_account">
            <p class="title_of_about-account">{{user.name}}</p>
            <p class="subtitle">Dancer</p>
            </div>
        </div>
        {{else}}
        <a class="btn btn-primary btn-ripple" href="/register">Sign up</a>
        {{/if}}
    </div>
</div>