.box-detail_mv {
    display: flex;
    flex-wrap: wrap;
}

.image-movies {
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.image-movies img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-movies {
    --margin-about-mv: 20px;

    width: 600px;
    max-width: 90%;
    margin: 0 var(--margin-about-mv);
}

