{{> header}}

<div class="wrapper-response">
    <img class="image-not-found__response" src="/static/img/404.png" alt="you have incorrent url">
    <p>404 error, NOT FOUND</p>
    <br>
    <button onclick="history.back()" class="goback-btn__response">Go back</button>
</div>

{{> footer}}