{{> header}}

<div class="wrapper-response">
    <img class="image-error__response" src="/static/img/server-down.svg" alt="server is down for now">
    <br>
    <br>
    <h1 class="heading__response">Something wrong here</h1>
    <p>Sorry, we're having some technical issue (as you can see)</p>
    <p>try to refresh the page</p>
</div>

{{> footer}}